body {
  min-width: 360px;
}

input:checked + label {
  text-decoration: line-through;
}

.footer {
  bottom: 0;
  position: fixed;
}

.header {
  display: flex;
}

.recommendation {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
}

.recommendation:hover {
  overflow: auto;
}

.recommendation-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1px 0 0;
  min-width: 50%;
  padding: 8px;
}

.recommendation-image {
  width: 100%;
}

.header-image {
  width: 100%;
}

.example-enter {
  transform: translateX(100%)
}

.example-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}

.example-exit {
  transform: translateX(0%);
  transform: translateY(-100%);
}

.example-exit-active {
  position: absolute;
  transform: translateY(-100%);
  transform: translateX(-100%);
  transition: all 400ms ease-in-out;
}
.example-enter {
  position: absolute;
  transform: translateX(100%)
}

.example-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}

.example-exit {
  position: absolute;
  overflow: hidden;
  transform: translateX(0%);
}

.example-exit-active {
  transform: translateX(-100%);
  transition: all 400ms ease-in;
}

.example-appear {
  position: absolute;
  transform: translateX(-100%);
}

.example-appear-active {
  transform: translateX(0);
  transition: all 200ms ease-in;
}
