body {
  min-width: 360px;
}

.footer {
  bottom: 0;
  position: fixed;
}

.header {
  display: flex;
}

.recommendation {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
}

.recommendation:hover {
  overflow: auto;
}

.recommendation-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1px 0 0;
  min-width: 50%;
  padding: 8px;
}

.recommendation-image {
  width: 100%;
}

.header-image {
  width: 100%;
}
