body {
  min-width: 360px;
}

.footer {
  bottom: 0;
  position: fixed;
}

.header {
  display: flex;
}

.recommendation {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.recommendation:hover{
  overflow: auto;
}

.recommendation-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 0 1px 0 0;
  align-items: center;
  min-width: 50%;
}

.recommendation-image {
  width: 100%;
}

.header-image {
  width: 100%;
}