@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@layer components {
  .blur {
    backdrop-filter: blur(3px)
  }
  .text-shadow {
    text-shadow: 5px 1px 7px black
  }
  .font-pacifico {
    font-family: 'Pacifico', cursive;
  }
}